<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="container">
    <p class="title">Sign Up</p>
    <form [formGroup]="userSignupForm" (submit)="submitForm()">
        <mat-form-field class="left">
            <input type="text" formControlName="firstName" placeholder="First Name" matInput>
            <mat-error *ngIf="userSignupForm?.get('firstName')?.hasError('required')">First Name is Mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="lastName" placeholder="Last Name" matInput>
            <mat-error *ngIf="userSignupForm?.get('lastName')?.hasError('required')">Last Name is Mandatory</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="left">
            <input type="email" formControlName="email" placeholder="Email" matInput>
            <mat-error *ngIf="userSignupForm?.get('email')?.hasError('required')">Email is Mandatory</mat-error>
            <mat-error *ngIf="userSignupForm?.get('email')?.hasError('email')">Email format required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="phoneNumber" placeholder="Phone Number" matInput>
            <mat-error *ngIf="userSignupForm?.get('phoneNumber')?.hasError('required')">Phone Number is Mandatory</mat-error>
            <mat-error *ngIf="userSignupForm?.get('phoneNumber')?.hasError('pattern') || userSignupForm?.get('phoneNumber')?.hasError('maxlength')">Phone Number format required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="left">
            <input type="text" formControlName="address" placeholder="Address" matInput>
            <mat-error *ngIf="userSignupForm?.get('address')?.hasError('required')"> Address is Mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" formControlName="postalCode" placeholder="Postal Code" matInput>
            <mat-error *ngIf="userSignupForm?.get('postalCode')?.hasError('required')">Postal Code is Mandatory</mat-error>
            <mat-error *ngIf="userSignupForm?.get('postalCode')?.hasError('pattern') || userSignupForm?.get('postalCode')?.hasError('maxlength')">Postal Code format required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="left">
            <input type="text" formControlName="username" placeholder="Username" matInput>
            <mat-error *ngIf="userSignupForm?.get('username')?.hasError('required')">Username is Mandatory</mat-error>
            <mat-error *ngIf="userSignupForm?.get('username')?.hasError('minlength')">Minimum 3 Characters</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" formControlName="password" placeholder="Password" matInput>
            <mat-error *ngIf="userSignupForm?.get('password')?.hasError('required')">Password is Mandatory</mat-error>
            <mat-error *ngIf="userSignupForm?.get('password')?.hasError('minlength')">Minimum 8 Characters</mat-error>
        </mat-form-field>
        <br>
        <button type="submit" color="primary" id="submit" mat-raised-button [disabled]="userSignupForm.invalid">Sign Up</button>
        <button type="button" id="reset" mat-raised-button (click)="resetForm()">Reset</button>
    </form>
    <p id="another_login">Already have an account? <a [routerLink]="['/user-login']">Log in</a>.</p>
    <a [routerLink]="['/merchant-signup']">Sign Up as Merchant</a>
</div>