<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="container">
    <p class="title">Merchant Sign Up</p>
    <form [formGroup]="merchantSignupForm" (submit)="submitForm()">
        <mat-form-field class="left">
            <mat-label>First Name</mat-label>
            <input type="text" formControlName="firstName" matInput>
            <mat-error *ngIf="merchantSignupForm?.get('firstName')?.hasError('required')">First Name is Mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input type="text" formControlName="lastName" matInput>
            <mat-error *ngIf="merchantSignupForm?.get('lastName')?.hasError('required')">Last Name is Mandatory</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="left">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email" matInput>
            <mat-error *ngIf="merchantSignupForm?.get('email')?.hasError('required')">Email is Mandatory</mat-error>
            <mat-error *ngIf="merchantSignupForm?.get('email')?.hasError('email')">Email format required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input type="text" formControlName="phoneNumber" matInput>
            <mat-error *ngIf="merchantSignupForm?.get('phoneNumber')?.hasError('required')">Phone Number is Mandatory</mat-error>
            <mat-error *ngIf="merchantSignupForm?.get('phoneNumber')?.hasError('pattern') || merchantSignupForm?.get('phoneNumber')?.hasError('maxlength')">Phone Number format required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="left">
            <mat-label>Company Name</mat-label>
            <input type="text" formControlName="companyName" placeholder="NIL if you are not under a company" matInput>
            <mat-error *ngIf="merchantSignupForm?.get('companyName')?.hasError('required')"> Company Name is Mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Postal Code</mat-label>
            <input type="text" formControlName="postalCode" matInput>
            <mat-error *ngIf="merchantSignupForm?.get('postalCode')?.hasError('required')">Postal Code is Mandatory</mat-error>
            <mat-error *ngIf="merchantSignupForm?.get('postalCode')?.hasError('pattern') || merchantSignupForm?.get('postalCode')?.hasError('maxlength')">Postal Code format required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="left">
            <mat-label>Username</mat-label>
            <input type="text" formControlName="username" matInput>
            <mat-error *ngIf="merchantSignupForm?.get('username')?.hasError('required')">Username is Mandatory</mat-error>
            <mat-error *ngIf="merchantSignupForm?.get('username')?.hasError('minlength')">Minimum 3 Characters</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput>
            <mat-error *ngIf="merchantSignupForm?.get('password')?.hasError('required')">Password is Mandatory</mat-error>
            <mat-error *ngIf="merchantSignupForm?.get('password')?.hasError('minlength')">Minimum 8 Characters</mat-error>
        </mat-form-field>
        <br>
        <button type="submit" id="submit" color="primary" mat-raised-button [disabled]="merchantSignupForm.invalid">Next</button>
        <button type="button" id="reset" mat-raised-button (click)="resetForm()">Reset</button>
    </form>
    <p id="another_login">Already have an account? <a [routerLink]="['/merchant-login']">Log in</a>.</p>
    <a [routerLink]="['/user-signup']">Sign Up as User</a>
</div>