<div>
    <h1>Merchant Sign Up</h1>
</div>

<div>
    <form [formGroup]="merchantSignupForm" (submit)="submitForm()">
        <table>
            <tr>
                <td>First Name: </td>
                <td>
                    <input type="text" formControlName="firstName">
                    <span *ngIf="merchantSignupForm?.get('firstName')?.hasError('required') && merchantSignupForm.get('firstName')?.touched"  >
                        *First Name is Mandatory
                    </span>
                </td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td>
                    <input type="text" formControlName="lastName">
                    <span *ngIf="merchantSignupForm?.get('lastName')?.hasError('required') && merchantSignupForm.get('lastName')?.touched"  >
                        *Last Name is Mandatory
                    </span>
                </td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>
                    <input type="email" formControlName="email">
                    <span *ngIf="merchantSignupForm?.get('email')?.hasError('required') && merchantSignupForm.get('email')?.touched"  >
                        *Email is Mandatory
                    </span>
                    <span *ngIf="merchantSignupForm?.get('email')?.hasError('email') && merchantSignupForm.get('email')?.touched"  >
                        *Email format required
                    </span>
                </td>
            </tr>
            <tr>
                <td>Phone Number: </td>
                <td>
                    <input type="text" formControlName="phoneNumber">
                    <span *ngIf="merchantSignupForm?.get('phoneNumber')?.hasError('required') && merchantSignupForm.get('phoneNumber')?.touched"  >
                        *Phone Number is Mandatory
                    </span>
                    <span *ngIf="merchantSignupForm?.get('phoneNumber')?.hasError('pattern') && merchantSignupForm.get('phoneNumber')?.touched"  >
                        *Phone Number format required
                    </span>
                </td>
            </tr>
            <tr>
                <td>Company Name: </td>
                <td>
                    <input type="text" placeholder="NIL if you are not under a company" formControlName="companyName">
                    <span *ngIf="merchantSignupForm?.get('companyName')?.hasError('required') && merchantSignupForm.get('companyName')?.touched"  >
                        *Company Name is Mandatory
                    </span>
                </td>
            </tr>
            <tr>
                <td>Username: </td>
                <td>
                    <input type="text" formControlName="username">
                    <span *ngIf="merchantSignupForm?.get('username')?.hasError('required') && merchantSignupForm.get('username')?.touched"  >
                        *Username is Mandatory
                    </span>
                    <span *ngIf="merchantSignupForm?.get('username')?.hasError('minlength') && merchantSignupForm.get('username')?.touched"  >
                        *Min 3 characters
                    </span>
                </td>
            </tr>
            <tr>
                <td>Password: </td>
                <td>
                    <input type="password" formControlName="password">
                    <span *ngIf="merchantSignupForm?.get('password')?.hasError('required') && merchantSignupForm.get('password')?.touched"  >
                        *Password is Mandatory
                    </span>
                    <span *ngIf="merchantSignupForm?.get('password')?.hasError('minlength') && merchantSignupForm.get('password')?.touched"  >
                        *Min 8 characters
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Pick Your Specialty</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="elec" formControlName="elec"><label for="elec">Electrician</label>
                </td>
                <td *ngIf="merchantSignupForm.get('elec')?.value === true">
                    License No: <input type="text" formControlName="elecLicenseNo">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="plum" formControlName="plum"><label for="plum">Plumber</label>
                </td>
                <td *ngIf="merchantSignupForm.get('plum')?.value === true">
                    License No: <input type="text" formControlName="plumLicenseNo">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="aircon" formControlName="aircon"><label for="aircon">Aircon Repairman</label>
                </td>
                <td *ngIf="merchantSignupForm.get('aircon')?.value === true">
                    License No: <input type="text"  formControlName="airconLicenseNo">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" [disabled]="merchantSignupForm.invalid">Sign Up</button>
                </td>
                <td>
                    <button type="button" (click)="resetForm()">Reset</button>
                </td>
            </tr>
        </table>
    </form>
</div>