<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="chat">
    <div class="chat-header">
            <button type="button" id="hidden" color="primary" mat-raised-button>View Requests</button>
        <p class="name">{{ userUsername }}</p>
            <button type="button" id="requests" color="primary" mat-raised-button (click)="request()">View Requests</button>
    </div>
    <mat-divider></mat-divider>
    <div class="chatbox-container">
        <div class="chatbox">
            <div *ngFor="let msg of msgSvc.msg" class="all-chat">
                <p class="chat-bubble" [id]="[msg.role]">{{ msg.message }}</p>
            </div>
            <div #endOfChat></div>
        </div>
    </div>
    <div class="messagebox">
        <form [formGroup]="messageForm" (submit)="send()">
            <mat-form-field appearance="outline">
                <input type="text" formControlName="message" placeholder="Enter your message" matInput>
                <button type="submit" color="primary" mat-icon-button matSuffix>
                    <mat-icon>send</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </div>
</div>

<ng-template #noChat></ng-template>