<div>
    <button type="button" (click)="conversations()">Conversations</button>
</div>

<div>
    <div>
        <div class="header">
            <h2>{{ userUsername }}</h2>
        </div>
        <div class="chatbox">
            <ul *ngFor="let msg of msgSvc.msg">
                <li>{{msg.username}}: {{ msg.message }}</li>
            </ul>
        </div>
        <div class="messagebox">
            <form [formGroup]="messageForm" (submit)="send()">
                <input type="text" formControlName="message">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>

<ng-template #noChat></ng-template>