<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="chat">
    <p class="name">{{ userUsername }}</p>
    <div class="chatbox">
        <div *ngFor="let msg of msgSvc.msg">
            <p id="message">{{msg.username}}: {{ msg.message }}</p>
        </div>
    </div>
    <div class="messagebox">
        <form [formGroup]="messageForm" (submit)="send()">
            <mat-form-field>
                <input type="text" formControlName="message" placeholder="Enter your message" matInput>
            </mat-form-field>
            <button type="submit" color="primary" mat-raised-button>Send</button>
        </form>
    </div>
</div>

<ng-template #noChat></ng-template>