img {
    width: 175px;
    height: 50px;
    padding-left: 30px;
    padding-top: 20px;
}

.top-content {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.title {
    font-size: 35px;
    font-family: "Rockwell";
    font-weight: bold;
    color: #4b2aad;
}

.buttons {
    justify-content: space-between;
    margin-left: auto;
    margin-right: 5%;
}

.buttons button {
    margin-left: 10px;
}

.main-content {
    text-align: center;
    margin-top: 40px;
}

.subtitle {
    font-size: 25px;
    margin-bottom: 50px;
}

.main-content button {
    margin-bottom: 20px;
    transform: scale(1.2);
}

.flexbox {
    display: flex;
    justify-content: center;
}

#left-button {
    margin-right: 30px;
}

#middle-button {
    margin-right: 30px;
    margin-left: 30px;
}

#right-button {
    margin-left: 30px;
}

.history {
    display: flex;
}

#history {
    margin-left: auto;
    margin-right: 5%;
    margin-top: 20px;
}

.job-request {
    font-size: 24px;
    font-family: "Rockwell";
    color: #4b2aad;
    text-align: center;
    margin-top: 20px;
}

.flexbox-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card {
    text-align: center;
    width: 500px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.no {
    text-align: center;
}