<div class="header">
    <img src="/assets/overhaul.png" alt="">
</div>

<div class="top-content" *ngIf="user$ | async as user">
    <p class="title">Hi, {{ user.firstName }}!</p>
    <div class="buttons">
        <button type="button" id="conversation" color="primary" mat-raised-button (click)="convo()">
            <div *ngIf="websocketSvc.newChat.length !== 0" id="notification">{{ websocketSvc.newChat.length }}</div>
            Conversations
        </button>
        <button type="button" color="primary" mat-raised-button (click)="profile()">Profile</button>
        <button type="button" mat-raised-button (click)="logout()">Logout</button>
    </div>
</div>

<div class="main-content">
    <p class="subtitle">What service are you looking for today?</p>
    <div class="flexbox">
        <button type="button" id="left-button" mat-stroked-button [routerLink]="['/electrician']">Electrician</button>
        <br>
        <button type="button" id="middle-button" mat-stroked-button [routerLink]="['/plumber']">Plumber</button>
        <br>
        <button type="button" id="right-button" mat-stroked-button [routerLink]="['/aircon']">Aircon Repairman</button>
    </div>
</div>

<div class="history">
    <button type="button" id="history" color="primary" mat-raised-button (click)="history()">Job Request History</button>
</div>

<div>
    <p class="job-request">Ongoing Job Requests</p>
    <div class="flexbox-card" *ngIf="websocketSvc.ongoingService.length > 0; else noService">
        <a *ngFor="let svc of websocketSvc.ongoingService" (click)="jobDetails(svc.merchant)">
            <mat-card>
                <mat-card-title>{{ svc.merchant }}</mat-card-title>
                <mat-card-subtitle>{{ svc.timestamp | date: 'mediumDate' }}</mat-card-subtitle>
                <mat-card-subtitle>{{ svc.timestamp | date: 'hh:mm a' }}</mat-card-subtitle>
            </mat-card>
        </a>
    </div>
</div>

<ng-template #noService>
    <p class="no">No Ongoing Job Requests</p>
</ng-template>