.container {
    text-align: center;
}

.title {
    font-size: 48px;
    margin-top: 90px;
    margin-bottom: 40px;
    font-family: "Rockwell";
    font-weight: bold;
    color: #4b2aad;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 15px;
}

button {
    margin: 10px;
    transform: scale(1.2);
}