<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="header" *ngIf="electrician | async as electrician">
    <p class="title">{{ electrician.firstName }} {{ electrician.lastName }}</p>
</div>

<mat-divider></mat-divider>

<div class="content" *ngIf="electrician | async as electrician">
    <p><strong>Company:</strong> {{ electrician.companyName }}</p>
    <p><strong>License No:</strong> {{ electrician.elecLicenseNo }}</p>
    <p><strong>Rating:</strong> {{ electrician.rating }} ⭐</p>
    <button type="button" color="primary" mat-raised-button (click)="chat()">Chat</button>
</div>

<div class="reviews" *ngIf="reviews$ | async as reviews">
    <p class="subtitle">Reviews</p>
    <mat-card *ngFor="let r of reviews">
        <mat-card-content>{{ r.rating }} ⭐ <strong>{{ r.user }}:</strong> {{ r.comments }}</mat-card-content>
        <mat-card-subtitle><small>{{ r.date }}</small></mat-card-subtitle>
    </mat-card>
</div>