.header {
    display: flex;
}

.type {
    justify-content: space-between;
    margin-top: 35px;
    margin-left: auto;
    margin-right: 5%;
    font-size: 20px;
    font-family: "Rockwell";
    font-weight: bold;
    color: #4b2aad;
}

img {
    width: 175px;
    height: 50px;
    padding-left: 30px;
    padding-top: 20px;
}

.top-content {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.title {
    font-size: 35px;
    font-family: "Rockwell";
    font-weight: bold;
    color: #4b2aad;
}

.buttons {
    justify-content: space-between;
    margin-left: auto;
    margin-right: 5%;
}

.buttons button {
    margin-left: 10px;
}

.activity {
    display: flex;
}

.toggle {
    margin-left: auto;
    margin-right: 5%;
    margin-top: 20px;
}

.label {
    font-size: 15px;
    font-weight: 500;
}

.jobs {
    display: flex;
    margin-top: 20px;
}

.jobs-child {
    flex: 1;
}

#job-requests {
    text-align: center;
}

.subtitle {
    font-size: 24px;
    font-family: "Rockwell";
    color: #4b2aad;
}

#current-jobs {
    text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card {
    margin-top: 10px;
    width: 400px;
}

.card-buttons {
    transform: scale(0.8);
}

#accept {
    margin-right: 10px;
}

#reject {
    margin-left: 10px;
}

.history {
    display: flex;
}

#history {
    margin-left: auto;
    margin-right: 5%;
    margin-top: 20px;
}