<div class="header">
    <img src="/assets/overhaul.png" alt="">
    <p class="type">MERCHANT PAGE</p>
</div>

<div class="top-content" *ngIf="merchant$ | async as merchant">
    <p class="title">Hi, {{ merchant.firstName }}!</p>
    <div class="buttons">
        <button type="button" id="conversation" color="primary" mat-raised-button (click)="convo()">
            <div *ngIf="websocketSvc.newChat.length !== 0" id="notification">{{ websocketSvc.newChat.length }}</div>
            Conversations
        </button>
        <button type="button" color="primary" mat-raised-button (click)="profile()">Profile</button>
        <button type="button" mat-raised-button (click)="logout()">Logout</button>
    </div>
</div>

<div class="activity">
    <div class="toggle">
        <p class="label">Status: {{ status }}</p>
        <form [formGroup]="activityForm">
            <mat-slide-toggle color="primary" (change)="onChange($event)"  formControlName="activity"></mat-slide-toggle>
        </form>
    </div>    
</div>

<div class="history">
    <button type="button" id="history" color="primary" mat-raised-button (click)="history()">Job History</button>
</div>

<div class="jobs">
    <div class="jobs-child" id="job-requests">
        <p class="subtitle">Job Requests</p>
        <div class="flexbox" *ngIf="websocketSvc.jobRequests.length > 0; else noRequests">
            <mat-card *ngFor="let req of websocketSvc.jobRequests">
                <mat-card-title>{{ req.user }}</mat-card-title>
                <mat-card-content>{{ req.type }}</mat-card-content>
                <mat-card-subtitle *ngIf="req.type === 'On-Demand'">{{ req.timestamp | date: 'M/d/yyyy' }}</mat-card-subtitle>
                <mat-card-subtitle *ngIf="req.type === 'On-Demand'">{{ req.timestamp | date: 'hh:mm a' }}</mat-card-subtitle>
                <mat-card-subtitle *ngIf="req.type === 'Scheduled'">{{ req.scheduledDate }}</mat-card-subtitle>
                <mat-card-subtitle *ngIf="req.type === 'Scheduled'">{{ req.scheduledTime }}</mat-card-subtitle>
                <div class="card-buttons">
                    <button type="button" id="accept" color="primary" mat-raised-button (click)="accept(req.user, req.type, req.scheduledDate, req.scheduledTime)">Accept</button>
                    <button type="button" id="reject" color="warn" mat-raised-button (click)="reject(req.user)">Reject</button>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="jobs-child" id="current-jobs">
        <p class="subtitle">Current Jobs</p>
        <div class="flexbox" *ngIf="websocketSvc.acceptedJobs.length > 0; else noJobs">
            <a *ngFor="let job of websocketSvc.acceptedJobs" (click)="jobDetails(job.user)">
                <mat-card>
                    <mat-card-title>{{ job.user }}</mat-card-title>
                    <mat-card-content>{{ job.type }}</mat-card-content>
                    <mat-card-subtitle *ngIf="job.type === 'On-Demand'">{{ job.timestamp | date: 'M/d/yyyy' }}</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="job.type === 'On-Demand'">{{ job.timestamp | date: 'hh:mm a' }}</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="job.type === 'Scheduled'">{{ job.scheduledDate }}</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="job.type === 'Scheduled'">{{ job.scheduledTime }}</mat-card-subtitle>
                </mat-card>
            </a>
        </div>
    </div>
</div>

<ng-template #noRequests>
    <p>No Current Requests</p>
</ng-template>

<ng-template #noJobs>
    <p>No Current Jobs</p>
</ng-template>