.header {
    display: flex;
}

.type {
    justify-content: space-between;
    margin-top: 35px;
    margin-left: auto;
    margin-right: 5%;
    font-size: 20px;
    font-family: "Rockwell";
    font-weight: bold;
    color: #4b2aad;
}

img {
    width: 175px;
    height: 50px;
    padding-left: 30px;
    padding-top: 20px;
}

.top-content {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.title {
    font-size: 35px;
    font-family: "Rockwell";
    font-weight: bold;
    color: #4b2aad;
}

.buttons {
    justify-content: space-between;
    margin-left: auto;
    margin-right: 5%;
}

.buttons button {
    margin-left: 10px;
}

.activity {
    display: flex;
}

.toggle {
    margin-left: auto;
    margin-right: 5%;
    margin-top: 20px;
}

.label {
    font-size: 15px;
    font-weight: 500;
}