<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="header">
    <p class="title">Aircon Repairman</p>
</div>

<div class="aircon" *ngIf="aircons$ | async as aircons">
    <div *ngIf="aircons.length > 0; else noAircon">
        <div *ngFor="let aircon of aircons">
            <a [routerLink]="['/aircon-details', aircon.username]">
                <mat-card>
                    <mat-card-title>{{ aircon.firstName }} {{ aircon.lastName }}</mat-card-title>
                    <mat-card-content>{{ aircon.companyName }}</mat-card-content>
                    <mat-card-subtitle *ngIf="aircon.rating !== ''; else noRating">{{ aircon.rating }} ⭐</mat-card-subtitle>
                </mat-card>
            </a>
        </div>
    </div>
</div>

<ng-template #noAircon>
    <p class="template">No Aircon Repairman Available</p>
</ng-template>

<ng-template #noRating>
    <p>No Ratings Yet</p>
</ng-template>