.title {
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 45px;
    font-family: "Rockwell";
    font-weight: bold;
    color: #4b2aad;
}

#back {
    color: #4b2aad;
    margin-left: 30px;
    margin-top: 30px;
}

.template {
    text-align: center;
    font-size: 18px;
}

.aircon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

mat-card {
    text-align: center;
    width: 500px;
    margin-bottom: 5px;
}

mat-card-title {
    margin-top: 10px;
}