<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="header">
    <p class="title">Electricians</p>
</div>

<div class="electricians" *ngIf="electricians | async as electricians">
    <div *ngIf="electricians.length > 0; else noElec">
        <div *ngFor="let elec of electricians">
            <a [routerLink]="['/electrician-details', elec.username]">
                <mat-card>
                    <mat-card-title>{{ elec.firstName }} {{ elec.lastName }}</mat-card-title>
                    <mat-card-content>{{ elec.companyName }}</mat-card-content>
                    <mat-card-subtitle *ngIf="elec.rating !== ''">{{ elec.rating }} ⭐</mat-card-subtitle>
                </mat-card>
            </a>
        </div>
    </div>
</div>

<ng-template #noElec>
    <p class="template">No Electricians Available</p>
</ng-template>