<div *ngIf="plumber | async as plumber">
    <h3>{{ plumber.firstName }} {{ plumber.lastName }}</h3>
    <hr>

    <ul>
        <li>Company: {{ plumber.companyName }}</li>
        <li>License No: {{ plumber.plumLicenseNo }}</li>
        <li>Rating: INSERT RATING HERE</li>
    </ul>

    <div>
        <table border="1">
            <thead>
                <th>Reviews</th>
            </thead>
            <tbody>
                <tr>
                    INSERT REVIEWS HERE
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <button type="button" (click)="back()">Back</button>
    <button type="button" (click)="chat()">Chat</button>
</div>