<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="header" *ngIf="plumber | async as plumber">
    <p class="title">{{ plumber.firstName }} {{ plumber.lastName }}</p>
</div>

<mat-divider></mat-divider>

<div class="content" *ngIf="plumber | async as plumber">
    <p><strong>Company:</strong> {{ plumber.companyName }}</p>
    <p><strong>License No:</strong> {{ plumber.elecLicenseNo }}</p>
    <p *ngIf="plumber.rating !== ''"><strong>Rating:</strong> {{ plumber.rating }} ⭐</p>
    <button type="button" color="primary" mat-raised-button (click)="chat()">Chat</button>
</div>

<div class="reviews" *ngIf="reviews$ | async as reviews">
    <div *ngIf="reviews.length > 0; else noReview">
        <p class="subtitle">Reviews</p>
        <mat-card *ngFor="let r of reviews">
            <mat-card-content>{{ r.rating }} ⭐ <strong>{{ r.user }}:</strong> {{ r.comments }}</mat-card-content>
            <mat-card-subtitle><small>{{ r.date }}</small></mat-card-subtitle>
        </mat-card>
    </div>
</div>

<ng-template #noReview>
    <p class="review">No Review Yet</p>
</ng-template>