<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="container">
    <p class="title">Profile</p>
    <div *ngIf="userDetails$ | async as userDetails">
        <p>First Name: {{ userDetails.firstName }}</p>
        <p>Last Name: {{ userDetails.lastName }}</p>
        <p>Email: {{ userDetails.email }}</p>
        <p>Phone Number: {{ userDetails.phoneNumber }}</p>
        <p>Address: {{ userDetails.address }}</p>
        <p>Postal Code: {{ userDetails.postalCode }}</p>
    </div>
    <div class="buttons">
        <button type="button" id="edit" color="primary" mat-raised-button (click)="edit()">Edit Profile</button>
        <button type="button" id="password" mat-raised-button (click)="changepw()">Reset Password</button>
    </div>
</div>