<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="container">
    <p class="title">Profile</p>
    <div *ngIf="userDetails$ | async as userDetails">
        <p><strong>First Name:</strong> {{ userDetails.firstName }}</p>
        <p><strong>Last Name:</strong> {{ userDetails.lastName }}</p>
        <p><strong>Email:</strong> {{ userDetails.email }}</p>
        <p><strong>Phone Number:</strong> {{ userDetails.phoneNumber }}</p>
        <p><strong>Address:</strong> {{ userDetails.address }}</p>
        <p><strong>Postal Code:</strong> {{ userDetails.postalCode }}</p>
    </div>
    <div class="buttons">
        <button type="button" id="edit" color="primary" mat-raised-button (click)="edit()">Edit Profile</button>
        <button type="button" id="password" mat-raised-button (click)="changepw()">Reset Password</button>
    </div>
</div>