<div>
    <button id="back" type="button" (click)="cancel()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="container">
    <p class="title">Reset Password</p>
    <form [formGroup]="merchantChangePwForm" (submit)="changePw()">
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input type="password" formControlName="newpw" matInput>
            <mat-error *ngIf="merchantChangePwForm?.get('newpw')?.hasError('required')">This field is Mandatory</mat-error>
            <mat-error *ngIf="merchantChangePwForm?.get('newpw')?.hasError('minlength')">Minimum 8 Characters</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input type="password" formControlName="confirmpw" matInput>
            <mat-error *ngIf="merchantChangePwForm?.get('confirmpw')?.hasError('required')">This field is Mandatory</mat-error>
            <mat-error *ngIf="merchantChangePwForm?.get('confirmpw')?.hasError('minlength')">Minimum 8 Characters</mat-error>
        </mat-form-field>
        <div class="buttons">
            <button type="submit" id="submit" color="primary" mat-raised-button [disabled]="merchantChangePwForm.invalid">Submit</button>
            <button type="button" id="cancel" mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>