<div>
    <button id="back" type="button" (click)="cancel()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="container">
    <p class="title">Edit Profile</p>
    <form [formGroup]="merchantEditForm" (submit)="editForm()">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input type="text" formControlName="firstName" matInput>
            <mat-error *ngIf="merchantEditForm?.get('firstName')?.hasError('required')">First Name is Mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input type="text" formControlName="lastName" matInput>
            <mat-error *ngIf="merchantEditForm?.get('lastName')?.hasError('required')">Last Name is Mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email" matInput>
            <mat-error *ngIf="merchantEditForm?.get('email')?.hasError('required')">Email is Mandatory</mat-error>
            <mat-error *ngIf="merchantEditForm?.get('email')?.hasError('email')">Email format required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input type="text" formControlName="phoneNumber" matInput>
            <mat-error *ngIf="merchantEditForm?.get('phoneNumber')?.hasError('required')">Phone Number is Mandatory</mat-error>
            <mat-error *ngIf="merchantEditForm?.get('phoneNumber')?.hasError('pattern') || merchantEditForm?.get('phoneNumber')?.hasError('maxlength')">Phone Number format required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Company Name</mat-label>
            <input type="text" formControlName="companyName" matInput>
            <mat-error *ngIf="merchantEditForm?.get('companyName')?.hasError('required')">Company Name is Mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Postal Code</mat-label>
            <input type="text" formControlName="postalCode" matInput>
            <mat-error *ngIf="merchantEditForm?.get('postalCode')?.hasError('required')">Postal Code is Mandatory</mat-error>
            <mat-error *ngIf="merchantEditForm?.get('postalCode')?.hasError('pattern') || merchantEditForm?.get('postalCode')?.hasError('maxlength')">Postal Code format required</mat-error>
        </mat-form-field>
        <div class="checkbox">
            <mat-checkbox formControlName="elec">Electrician</mat-checkbox>
            <mat-form-field *ngIf="merchantEditForm.get('elec')?.value === true" subscriptSizing="dynamic">
                <mat-label>License No</mat-label>
                <input type="text" formControlName="elecLicenseNo" matInput>
            </mat-form-field>
        </div>
        <div class="checkbox">
            <mat-checkbox formControlName="plum">Plumber</mat-checkbox>
            <mat-form-field *ngIf="merchantEditForm.get('plum')?.value === true" subscriptSizing="dynamic">
                <mat-label>License No</mat-label>
                <input type="text" formControlName="plumLicenseNo" matInput>
            </mat-form-field>
        </div>
        <div class="checkbox">
            <mat-checkbox formControlName="aircon">Aircon Repairman</mat-checkbox>
            <mat-form-field *ngIf="merchantEditForm.get('aircon')?.value === true" subscriptSizing="dynamic">
                <mat-label>License No</mat-label>
                <input type="text" formControlName="airconLicenseNo" matInput>
            </mat-form-field>
        </div>
        <div class="buttons">
            <button type="submit" id="save" color="primary" mat-raised-button [disabled]="merchantEditForm.invalid">Save</button>
            <button type="button" id="cancel" mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>