<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="container">
    <p class="title">Login</p>
    <form [formGroup]="userLoginForm" (submit)="login()">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" formControlName="username" matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput>
        </mat-form-field>
        <br>
        <button type="submit" color="primary" mat-raised-button>Login</button>
    </form>
    <br>
    <a [routerLink]="['/merchant-login']">Login as Merchant</a>
</div>