<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="container">
    <div *ngIf="ongoingJob$ | async as ongoingJob" class="flexbox">
        <p class="title">Job Details</p>
        <div class="details">
            <p><strong>Merchant: </strong>{{ ongoingJob.merchant }}</p>
            <p><strong>Type: </strong>{{ ongoingJob.type }}</p>
            <p *ngIf="ongoingJob.type === 'On-Demand'"><strong>Job Date: </strong>{{ ongoingJob.timestamp | date: 'M/d/yyyy' }}</p>
            <p *ngIf="ongoingJob.type === 'On-Demand'"><strong>Job Time: </strong>{{ ongoingJob.timestamp | date: 'hh:mm a' }}</p>
            <p *ngIf="ongoingJob.type === 'Scheduled'"><strong>Job Date: </strong>{{ ongoingJob.scheduledDate }}</p>
            <p *ngIf="ongoingJob.type === 'Scheduled'"><strong>Job Time: </strong>{{ ongoingJob.scheduledTime }}</p>
            <p *ngIf="ongoingJob.status === 1"><strong>Job Status: </strong>Ongoing</p>
            <p><strong>Estimated Distance: </strong>{{ distance }}</p>
            <p *ngIf="ongoingJob.type === 'On-Demand'"><strong>Estimated Duration: </strong>{{ duration }}</p>
            <p *ngIf="ongoingJob.type === 'On-Demand'"><strong>Estimated Time of Arrival: </strong>{{ eta }}</p>
            <button type="button" id="complete" color="primary" mat-raised-button (click)="complete(ongoingJob.jobId)">Job Completed</button>
            <button type="button" id="cancel" color="warn" mat-raised-button (click)="cancel(ongoingJob.jobId)">Cancel Booking</button>
        </div>
    </div>
    <div class="flexbox">
        <google-map id="map" [options]="options" *ngIf="directionResults$ | async as results">
            <map-directions-renderer [directions]="results"></map-directions-renderer>
        </google-map>
    </div>
</div>

