<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="container">
    <div *ngIf="ongoingJob$ | async as ongoingJob" class="flexbox">
        <p class="title">Job Details</p>
        <div class="details">
            <p><strong>Merchant: </strong>{{ ongoingJob.merchant }}</p>
            <p><strong>Job Date: </strong>{{ ongoingJob.date }}</p>
            <p><strong>Job Time: </strong>{{ ongoingJob.time }}</p>
            <p *ngIf="ongoingJob.status === 1"><strong>Job Status: </strong>Ongoing</p>
            <p>Estimated Time of Arrival</p>
        </div>
    </div>
    <div class="flexbox">
        <google-map id="map" [options]="options" *ngIf="directionResults$ | async as results">
            <map-directions-renderer [directions]="results"></map-directions-renderer>
        </google-map>
    </div>
</div>