#back {
    color: #4b2aad;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
    color: #4b2aad;
    font-weight: 500;
}

.rating {
    display: flex;
    justify-content: center;
}

.number {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 72px;
    color: lightgray;
}

.comments {
    text-align: center;
}

mat-form-field {
    margin-top: 20px;
    width: 500px;
    height: 300px;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
[type=radio] + p {
    cursor: pointer;
}

[type=radio]:checked + p {
    color: #4b2aad;
}