<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="container">
    <p class="title">Profile</p>
    <div *ngIf="merchant$ | async as merchant">
        <p><strong>First Name:</strong> {{ merchant.firstName }}</p>
        <p><strong>Last Name:</strong> {{ merchant.lastName }}</p>
        <p><strong>Email:</strong> {{ merchant.email }}</p>
        <p><strong>Phone Number:</strong> {{ merchant.phoneNumber }}</p>
        <p><strong>Company Name:</strong> {{ merchant.companyName }}</p>
        <p><strong>Postal Code:</strong> {{ merchant.postalCode }}</p>
        <p *ngIf="merchant.elec === true"><strong>Electrician License No:</strong> {{ merchant.elecLicenseNo }}</p>
        <p *ngIf="merchant.plum === true"><strong>Plumber License No:</strong> {{ merchant.plumLicenseNo }}</p>
        <p *ngIf="merchant.aircon === true"><strong>Aircon Repairman License No:</strong> {{ merchant.airconLicenseNo }}</p>
    </div>
    <div class="buttons">
        <button type="button" id="edit" color="primary" mat-raised-button (click)="edit()">Edit Profile</button>
        <button type="button" id="password" mat-raised-button (click)="changepw()">Reset Password</button>
    </div>
</div>
