<div>
    <h1>Merchant Profile</h1>
    <button type="button" (click)="back()">Back</button>
</div>

<div>
    <table *ngIf="merchant$ | async as merchant">
        <tr>
            <td>First Name: </td>
            <td>{{ merchant.firstName }}</td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td>{{ merchant.lastName }}</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>{{ merchant.email }}</td>
        </tr>
        <tr>
            <td>Phone Number: </td>
            <td>{{ merchant.phoneNumber }}</td>
        </tr>
        <tr>
            <td>Company Name: </td>
            <td>{{ merchant.companyName }}</td>
        </tr>
        <tr>
            <td>Postal Code: </td>
            <td>{{ merchant.postalCode }}</td>
        </tr>
        <tr *ngIf="merchant.elec">
            <td>Electrician License No: </td>
            <td>{{ merchant.elecLicenseNo }}</td>
        </tr>
        <tr *ngIf="merchant.plum">
            <td>Plumber License No: </td>
            <td>{{ merchant.plumLicenseNo }}</td>
        </tr>
        <tr *ngIf="merchant.aircon">
            <td>Aircon Repairman License No: </td>
            <td>{{ merchant.airconLicenseNo }}</td>
        </tr>
        <tr>
            <td>
                <button type="button" (click)="edit()">Edit Profile</button>
            </td>
            <td>
                <button type="button" (click)="changepw()">Change Password</button>
            </td>
        </tr>
    </table>
</div>
