<div>
    <button id="back" type="button" (click)="back()" mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
</div>

<div class="container">
    <p class="title">Profile</p>
    <div *ngIf="merchant$ | async as merchant">
        <p>First Name: {{ merchant.firstName }}</p>
        <p>Last Name: {{ merchant.lastName }}</p>
        <p>Email: {{ merchant.email }}</p>
        <p>Phone Number: {{ merchant.phoneNumber }}</p>
        <p>Company Name: {{ merchant.companyName }}</p>
        <p>Postal Code: {{ merchant.postalCode }}</p>
        <p *ngIf="merchant.elec === true">Electrician License No: {{ merchant.elecLicenseNo }}</p>
        <p *ngIf="merchant.plum === true">Plumber License No: {{ merchant.plumLicenseNo }}</p>
        <p *ngIf="merchant.aircon === true">Aircon Repairman License No: {{ merchant.airconLicenseNo }}</p>
    </div>
    <div class="buttons">
        <button type="button" id="edit" color="primary" mat-raised-button (click)="edit()">Edit Profile</button>
        <button type="button" id="password" mat-raised-button (click)="changepw()">Reset Password</button>
    </div>
</div>
